<div layout="row" flex ng-controller="LockTagsController">
    <div flex >
        <div  layout-padding  layout="column">
            <div layout="row" layout-padding class="md-light-head">
                Lock Tags
            </div>
            <div layout-padding class="md-subhead">
                This operation instruct the Tappy to lock every tag it encounters until
                you either issue a stop command or another instruction. Tag locking is an
                irreversible operation that prevents the locked memory from ever being
                rewritten, so it is advisable to make certain that any tags you lock
                contain the information you desire. For more details on tag locking and 
                NFC tag write protection in general, please read the TapTrack whitepaper
                on <a href="http://www.taptrack.com/nfc-tag-write-protection/" target="_blank">NFC Tag Write Protection</a>. Additionally, once you issue this
                command, the Tappy will immediately start locking all tags it encounters,
                so make sure there are not any tags you do not want locked in proximity to
                the Tappy before initiating batch locking. If you attempt to lock a tag
                that is already locked, the Tappy will report success as the tag has been locked
                even though it was already in this state.
            </div>
        </div>
        <div layout-padding layout="row">
            <div>
            </div>
            <span flex></span>
            <div>
                <md-button class="" ng-click="requestStop()" >Stop</md-button>
                <md-button class="md-raised md-primary" ng-click="initiateOperation()" >Start Locking</md-button>
            </div>
        </div>
    </div>
</div>
