<div layout="column" ng-controller="WriteVcardController">
    <div>
        <div layout-padding layout="column">
            <div layout="row" layout-padding class="md-light-head">
                Write vCard
            </div>
            <div layout="row" layout-padding class="md-subhead">
                vCards are a format for creating digital business cards.
                When written to an NFC tag and tapped by a person using an Android
                device, they will be given the option to automatically import your
                contact information into their Contacts application. Note that
                vCards can contain a large amount of data, so you may need to use
                a high capacity tag such as an NTAG215/216 to store the full record.
            </div>
        </div>
    </div>
    <div>
        <form name="writeVcardForm">
            <md-subheader class="md-no-sticky">Personal Information</md-subheader>
            <section layout-padding>
                <div layout-gt-xs="row">
                    <md-input-container class="md-icon-float md-block" flex-gt-xs>
                        <md-icon md-svg-icon="/res/img/svg/ic_person.svg" class="vcard-input-icon" ></md-icon>
                        <label>Name</label>
                        <input ng-model="vcard.name" type="text" />
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-icon md-svg-icon="/res/img/svg/ic_email.svg" class="vcard-input-icon" ></md-icon>
                        <label>Email</label>
                        <input ng-model="vcard.personalEmail" type="email" />
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-icon md-svg-icon="/res/img/svg/ic_smartphone.svg" class="vcard-input-icon" ></md-icon>
                        <label>Cell Phone</label>
                        <input ng-model="vcard.cellPhone" type="tel" />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-icon md-svg-icon="/res/img/svg/ic_phone.svg" class="vcard-input-icon" ></md-icon>
                        <label>Home Phone</label>
                        <input ng-model="vcard.homePhone" type="tel" />
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-icon md-svg-icon="/res/img/svg/ic_place.svg" class="vcard-input-icon" ></md-icon>
                        <label>Home Address</label>
                        <input ng-model="vcard.homeAddress" type="text" />
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-icon md-svg-icon="/res/img/svg/ic_globe.svg" class="vcard-input-icon" ></md-icon>
                        <label>Website</label>
                        <input ng-model="vcard.url" type="address" />
                    </md-input-container>
                </div>
            </section>
            <md-subheader class="md-no-sticky">Work Information</md-subheader>
            <section layout-padding>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-icon md-svg-icon="/res/img/svg/ic_business.svg" class="vcard-input-icon" ></md-icon>
                        <label>Company</label>
                        <input ng-model="vcard.company" type="text" />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-icon md-svg-icon="/res/img/svg/ic_business_center.svg" class="vcard-input-icon" ></md-icon>
                        <label>Title</label>
                        <input ng-model="vcard.title" type="text" />
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-icon md-svg-icon="/res/img/svg/ic_email.svg" class="vcard-input-icon" ></md-icon>
                        <label>Business Email</label>
                        <input ng-model="vcard.businessEmail" type="email" />
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-icon md-svg-icon="/res/img/svg/ic_phone.svg" class="vcard-input-icon" ></md-icon>
                        <label>Phone</label>
                        <input ng-model="vcard.workPhone" type="tel" />
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-icon md-svg-icon="/res/img/svg/ic_place.svg" class="vcard-input-icon" ></md-icon>
                        <label>Business Address</label>
                        <input ng-model="vcard.workAddress" type="text" />
                    </md-input-container>
                </div>
            </section>
        </form>
    </div>
    <div layout="row">
            <md-button ng-click="resetVcard()">
                Clear 
            </md-button>
            <span flex></span>
            <div ng-include="'/res/partials/writeControl.html'">
            </div>
    </div>
</div>
